server:
  port: 8888

spring:
  application:
    name: spring-cloud-sentinel-sample
  cloud:
    sentinel:
      transport:
        dashboard: localhost:8080
        client-ip: 10.26.190.49
      datasource:
        - nacos:
            server-addr: localhost:8848
            data-id: ${spring.application.name}-flow-rules
            group-id: DEFAULT_GROUP
            data-type: json
            rule-type: flow
